

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link active" href="{% url 'logo:summary' %}">Summary</a>
            <a class="nav-item nav-link active" href="{% url 'logo:logbook' %}">Logbook</a>
            <a class="nav-item nav-link active" href="{% url 'logo:add_flight' %}">Add Flight</a>
            <a class="nav-item nav-link active" href="{% url 'logo:aircraft_list' %}">Aircrafts</a>
            <a class="nav-item nav-link active" href="{% url 'logo:airport_list' %}">Airports</a>
            <a class="nav-item nav-link active" href="{% url 'logo:people' %}">Persons</a>
        </div>
    </div>
</nav>